<div class="tab-content active" ng-controller="SettingCtrl" ng-init="name='debug'">

    <form name="form" novalidate class="grid-form grid-form-v grid-form-v-lg" action="" method="" ng-submit="submit();$event.preventDefault();">

        <div class="row">
            <label class="span span-label">
                主机地址：
            </label>
            <div class="span span-full">
                <input class="input input-default" type="text" name="host"
                       ng-model="setting.host" required>
            </div>
        </div>

        <div class="row">
            <label class="span span-label">
                端口号：
            </label>
            <div class="span span-full">
                <input class="input input-smt" type="number" name="port"
                       ng-model="setting.port" required>
            </div>
        </div>

        <div class="row">
            <label class="span span-label">
                代理地址：
            </label>
            <div class="span span-full">
                <input class="input input-default" type="text" name="proxy"
                       ng-model="setting.proxy" required>
            </div>
        </div>

        <div class="row">
            <label class="span span-label">
                自动打开浏览器：
            </label>
            <div class="span span-full">
                <div class="switch">
                    <input type="radio" name="open" id="on" ng-model="setting.open" ng-value="true">
                    <label for="on">ON</label>
                    <input type="radio" name="open" id="off" ng-model="setting.open" ng-value="false">
                    <label for="off">OFF</label>
                    <span class="switch-bar"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <label class="span span-label">
                监听文件及目录：
            </label>
            <div class="span span-full">
                <input class="input input-default" type="text"
                       name="files"
                       ng-model="setting.files"
                       required>
            </div>
        </div>

        <div class="row form-actions">
            <div class="span span-full">
                <button class="btn btn-default" type="submit" ng-disabled="form.$invalid">保存</button>
                <button class="btn btn-default btn-gray" type="button" ng-click="cancel()">取消</button>
            </div>
        </div>

    </form>

</div>
