<div class="panel panel-default tab-default" ng-controller="ProjectAddCtrl">
    <div class="panel-hd tab-toggle">
        <ul>
            <li>
                <h3>项目信息</h3>
            </li>
        </ul>
    </div>
    <div class="panel-bd tab-main">

        <form novalidate name="form" class="grid-form grid-form-v grid-form-v-lg" ng-submit="submit();$event.preventDefault();">

            <div class="row">
                <label class="span span-label" for="">
                    <span class="required">*</span>
                    项目名称：
                </label>
                <div class="span span-full">
                    <input class="input input-default input-lg" type="text"
                           autocomplete="off"
                           name="name"
                           ng-model="setting.name"
                           required >
                    <div class="help-inline" ng-show="form.name.$invalid">
                        必填，且必须为字母或数字，后续会作为样式表的文件名。
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="span span-label" for="">
                    <span class="required">*</span>
                    项目描述：
                </label>
                <div class="span span-full">
                    <textarea class="input input-default input-lg"
                              name="description"
                              ng-model="setting.description"
                              required
                              rows="2" placeholder="项目简短描述..."></textarea>

                    <div class="help-inline" ng-show="form.description.$invalid">
                        必填
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="span span-label" for="">
                    <span class="required">*</span>
                    项目版本号：
                </label>
                <div class="span span-full">
                    <input class="input input-default input-smt" type="text" placeholder="1.0.0"
                        name="version"
                        ng-model="setting.version"
                        required>
                    <div class="help-inline" ng-show="form.version.$invalid">
                        必填，且必须为数字，且格式如占位符所示。
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="span span-label" for="">
                    <span class="required">*</span>
                    项目兼容性：
                </label>
                <div class="span span-full">
                    <div class="mb10">
                        <div class="input-group input-sm">
                            <span class="input-group-label"><i class="icon-append icon-chrome"></i></span>
                            <input type="text" placeholder="latest-1"
                                   name="chrome"
                                   ng-model="setting.compatibility.Chrome"
                                   required>
                        </div>
                    </div>
                    <div class="mb10">
                        <div class="input-group input-sm">
                            <span class="input-group-label"><i class="icon-append icon-firefox"></i></span>
                            <input type="text" placeholder="latest-1"
                                   name="firefox"
                                   ng-model="setting.compatibility.Firefox"
                                   required>
                        </div>
                    </div>
                    <div>
                        <div class="input-group input-sm">
                            <span class="input-group-label"><i class="icon-append icon-explorer"></i></span>
                            <input type="text" placeholder="8+"
                                   name="explorer"
                                   ng-model="setting.compatibility.Explorer"
                                   required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="span span-label" for="">
                    其他说明：
                </label>
                <div class="span span-full">
                    <textarea class="input input-default input-lg" rows="2"
                        name="notes"
                        ng-model="setting.notes"
                        ></textarea>
                </div>
            </div>

            <div class="row form-actions">
                <div class="span span-full">
                    <button class="btn btn-default" type="submit" ng-disabled="form.$invalid">保存</button>
                    <button class="btn btn-default btn-gray" type="button" ng-click="cancel()">取消</button>
                </div>
            </div>

        </form>

    </div>
</div>
